In [123]:
import pandas as pd
import numpy as np
import csv

In [162]:
x_train_file = "X_train.csv"
x_test_file = "X_test.csv"
y_train_file = "y_train.csv"

X_train = pd.read_csv(x_train_file)
X_test = pd.read_csv(x_test_file)
y_train = pd.read_csv(y_train_file)

In [163]:
X_test.shape

(303913, 30)

In [193]:
X_train[:1]

,Unnamed: 0,CustomerMD5Key,ReceivedDateTime,SCID,SelectedPackage,FirstDriverMaritalStatus,CarAnnualMileage,CarFuelId,CarUsageId,FirstDriverAge,...,SocioDemographicId,PolicyHolderResidencyArea,AllDriversNbConvictions,TodayDate,RatedDriverNumber,IsPolicyholderAHomeowner,CarMakeId,DaysSinceCarPurchase,NameOfPolicyProduct,AffinityCodeId
0,0,0x0af8dd0b86f6bdc5ecc29ee8a587e5a5,2016-08-02 08:51:01.050,A10161,3.0,1.0,4001.0,1.0,1.0,58.0,...,60.0,27.0,0.0,2016-08-02,1.0,1.0,11.0,416.0,NC,0.0

In [195]:
X_train.columns

Index([u'Unnamed: 0', u'CustomerMD5Key', u'ReceivedDateTime', u'SCID',
       u'SelectedPackage', u'FirstDriverMaritalStatus', u'CarAnnualMileage',
       u'CarFuelId', u'CarUsageId', u'FirstDriverAge', u'CarInsuredValue',
       u'CarAge', u'FirstDriverDrivingLicenseNumberY', u'VoluntaryExcess',
       u'CarParkingTypeId', u'PolicyHolderNoClaimDiscountYears',
       u'FirstDriverDrivingLicenceType', u'CoverIsNoClaimDiscountSelected',
       u'CarDrivingEntitlement', u'CarTransmissionId', u'SocioDemographicId',
       u'PolicyHolderResidencyArea', u'AllDriversNbConvictions', u'TodayDate',
       u'RatedDriverNumber', u'IsPolicyholderAHomeowner', u'CarMakeId',
       u'DaysSinceCarPurchase', u'NameOfPolicyProduct', u'AffinityCodeId'],
      dtype='object')

In [199]:
X_train["AllDriversNbConvictions"] / X_train["CarAge"]

0          0.000000
1          0.000000
2          0.000000
3          0.000000
4          0.000000
5          0.000000
6          0.000000
7          0.000000
8               NaN
9          0.000000
10         0.000000
11         0.000000
12         0.000000
13         0.200000
14         0.083333
15         0.000000
16         0.000000
17         0.000000
18         0.000000
19         0.000000
20         0.000000
21         0.000000
22         0.000000
23         0.000000
24         0.000000
25         0.000000
26         0.000000
27         0.000000
28         0.166667
29         0.000000
             ...
2911288    0.000000
2911289    0.000000
2911290    0.000000
2911291    0.000000
2911292    0.000000
2911293         NaN
2911294    0.000000
2911295    0.000000
2911296    0.000000
2911297    0.000000
2911298    0.000000
2911299    0.000000
2911300    0.000000
2911301    0.000000
2911302    0.000000
2911303    0.000000
2911304    0.000000
2911305    0.000000
2911306    0.000000
2911307    0.000000
2911308    0.000000
2911309    0.000000
2911310    0.000000
2911311    0.000000
2911312    0.000000
2911313    0.000000
2911314    0.000000
2911315    0.000000
2911316    0.000000
2911317         inf
dtype: float64

In [126]:
y_train[:3]

   Unnamed: 0  Converted
0           0        0.0
1           1        0.0
2           2        0.0

In [127]:
# We just want the second column
y_train = y_train["Converted"]

# But keep the ids too for submission
ids = X_test["Unnamed: 0"]
# ids.rename(index=str, columns={"Unnamed: 0": "CustomerMD5Key"})
ids = np.array(ids)

y_train = np.array(y_train)

In [128]:
y_train.shape

(2911318,)

In [129]:
# Types of the data
X_train.dtypes

Unnamed: 0                            int64
CustomerMD5Key                       object
ReceivedDateTime                     object
SCID                                 object
SelectedPackage                     float64
FirstDriverMaritalStatus            float64
CarAnnualMileage                    float64
CarFuelId                           float64
CarUsageId                          float64
FirstDriverAge                      float64
CarInsuredValue                     float64
CarAge                              float64
FirstDriverDrivingLicenseNumberY    float64
VoluntaryExcess                     float64
CarParkingTypeId                    float64
PolicyHolderNoClaimDiscountYears    float64
FirstDriverDrivingLicenceType       float64
CoverIsNoClaimDiscountSelected      float64
CarDrivingEntitlement               float64
CarTransmissionId                   float64
SocioDemographicId                  float64
PolicyHolderResidencyArea           float64
AllDriversNbConvictions             float64
TodayDate                            object
RatedDriverNumber                   float64
IsPolicyholderAHomeowner            float64
CarMakeId                           float64
DaysSinceCarPurchase                float64
NameOfPolicyProduct                  object
AffinityCodeId                      float64
dtype: object

In [130]:
# Get the all the coluymns that are float - ignoring object (string) for now
X_train_float = X_train.loc[:, X_train.dtypes == float]
X_test_float = X_test.loc[:, X_test.dtypes == float]

In [131]:
X_train_float.head()

,SelectedPackage,FirstDriverMaritalStatus,CarAnnualMileage,CarFuelId,CarUsageId,FirstDriverAge,CarInsuredValue,CarAge,FirstDriverDrivingLicenseNumberY,VoluntaryExcess,...,CarDrivingEntitlement,CarTransmissionId,SocioDemographicId,PolicyHolderResidencyArea,AllDriversNbConvictions,RatedDriverNumber,IsPolicyholderAHomeowner,CarMakeId,DaysSinceCarPurchase,AffinityCodeId
0,3.0,1.0,4001.0,1.0,1.0,58.0,3001.0,6.0,30.0,250.0,...,3.0,1.0,60.0,27.0,0.0,1.0,1.0,11.0,416.0,0.0
1,3.0,4.0,4001.0,1.0,4.0,55.0,0.0,14.0,30.0,200.0,...,1.0,1.0,99.0,24.0,0.0,1.0,1.0,32.0,435.0,63.0
2,3.0,1.0,5001.0,1.0,0.0,31.0,1001.0,10.0,8.0,250.0,...,1.0,1.0,77.0,52.0,0.0,1.0,1.0,41.0,1098.0,39.0
3,3.0,2.0,5001.0,2.0,4.0,52.0,23001.0,1.0,8.0,250.0,...,1.0,1.0,42.0,40.0,0.0,1.0,1.0,43.0,4.0,0.0
4,3.0,3.0,5001.0,1.0,1.0,29.0,2001.0,7.0,11.0,250.0,...,3.0,1.0,197.0,33.0,0.0,2.0,1.0,12.0,2107.0,31.0

In [132]:
y_train[0]

0.0

In [133]:
# Now for some preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Imputer

sc = StandardScaler()
im = Imputer()

X_train_float = im.fit_transform(X_train_float)
X_test_float = im.fit_transform(X_test_float)
X_train_float_std = sc.fit_transform(X_train_float)
X_test_float_std = sc.fit_transform(X_test_float)

X_train_float = np.array(X_train_float)
X_test_float = np.array(X_test_float)
y_train = np.array(y_train)

# Split the training data into validation data
from sklearn.cross_validation import train_test_split
X_train_float, X_valid_float, y_train, y_test = train_test_split(X_train_float, y_train, test_size = 0.2,
                                                                           random_state=1)

In [134]:
X_train_float.shape
y_train.shape

(2329054,)

In [135]:
# Now run some very standard classifiers
from sklearn.grid_search import GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression

pipe_lr = Pipeline([("lr", LogisticRegression())])
pipe_lr.fit_transform(X_train_float, y_train)

array([[ 3.,  1.,  1., ...,  0.,  1.,  0.],
       [ 3.,  1.,  1., ...,  0.,  1.,  1.],
       [ 3.,  1.,  1., ...,  0.,  1.,  1.],
       ...,
       [ 3.,  2.,  1., ...,  0.,  1.,  1.],
       [ 3.,  2.,  1., ...,  0.,  1.,  0.],
       [ 3.,  2.,  1., ...,  0.,  3.,  1.]])

In [171]:
print pipe_lr.score(X_valid_float, y_test)

0.992350548892

In [172]:
pred = pipe_lr.predict_proba(X_test_float)

In [173]:
pred.shape

(303913, 2)

In [174]:
pred[:10].shape

# Now hstack with the ids

(10, 2)

In [175]:
np.savetxt("predictions.csv", pred, delimiter=",")

In [176]:
predictions = pd.read_csv("predictions.csv")

In [177]:
predictions.head()

   9.989289608243827612e-01  1.071039175617253788e-03
0                  0.996898                  0.003102
1                  0.996212                  0.003788
2                  0.996321                  0.003679
3                  0.998413                  0.001587
4                  0.994667                  0.005333

In [180]:
pred = pd.DataFrame(pred)
pred = pd.DataFrame(pred[1])

In [181]:
pred.to_csv("Y_priv.predict", headers=False, index=False)

In [183]:
predictions = pd.read_csv("Y_priv.predict")
predictions.head()

          1
0  0.001071
1  0.003102
2  0.003788
3  0.003679
4  0.001587

In [184]:
predictions.shape

(303913, 1)

In [185]:
predictions = np.array(predictions)

In [186]:
predictions[:10]

array([[ 0.00107104],
       [ 0.00310208],
       [ 0.0037884 ],
       [ 0.00367919],
       [ 0.0015866 ],
       [ 0.00533308],
       [ 0.02387653],
       [ 0.01440345],
       [ 0.00062359],
       [ 0.00781427]])

In [188]:
np.savetxt("Y_priv.predict", predictions)

In [190]:
predictions.shape

(303913, 1)

In [191]:
X_train.columns

Index([u'Unnamed: 0', u'CustomerMD5Key', u'ReceivedDateTime', u'SCID',
       u'SelectedPackage', u'FirstDriverMaritalStatus', u'CarAnnualMileage',
       u'CarFuelId', u'CarUsageId', u'FirstDriverAge', u'CarInsuredValue',
       u'CarAge', u'FirstDriverDrivingLicenseNumberY', u'VoluntaryExcess',
       u'CarParkingTypeId', u'PolicyHolderNoClaimDiscountYears',
       u'FirstDriverDrivingLicenceType', u'CoverIsNoClaimDiscountSelected',
       u'CarDrivingEntitlement', u'CarTransmissionId', u'SocioDemographicId',
       u'PolicyHolderResidencyArea', u'AllDriversNbConvictions', u'TodayDate',
       u'RatedDriverNumber', u'IsPolicyholderAHomeowner', u'CarMakeId',
       u'DaysSinceCarPurchase', u'NameOfPolicyProduct', u'AffinityCodeId'],
      dtype='object')