In [35]:
import numpy as np
import pandas as pd
import itertools

from sklearn.datasets import make_classification
# from sklearn.decomposition import PCA
from sklearn.svm import SVC

from imblearn.under_sampling import RandomUnderSampler
from imblearn.under_sampling import NearMiss
from imblearn.under_sampling import CondensedNearestNeighbour
from imblearn.under_sampling import OneSidedSelection
from imblearn.under_sampling import NeighbourhoodCleaningRule
from imblearn.under_sampling import TomekLinks
from imblearn.under_sampling import ClusterCentroids
from imblearn.under_sampling import EditedNearestNeighbours
from imblearn.under_sampling import InstanceHardnessThreshold
from imblearn.under_sampling import RepeatedEditedNearestNeighbours
# from imblearn.under_sampling import AllKNN

from imblearn.over_sampling import RandomOverSampler
from imblearn.over_sampling import SMOTE

from imblearn.combine import SMOTETomek
from imblearn.combine import SMOTEENN

from imblearn.ensemble import EasyEnsemble
from imblearn.ensemble import BalanceCascade

# Save a nice dark grey as a variable
almost_black = '#262626'

In [36]:
# Generate some data
# x_train_file = "X_train.csv"
# x_test_file = "X_test.csv"
# y_train_file = "y_train.csv"

# x = pd.read_csv(x_train_file)
# x_test = pd.read_csv(x_test_file)
# y = pd.read_csv(y_train_file)
# # We just want the second column
# y = y["Converted"]


# Custom preprocessing
# Get the all the coluymns that are float - ignoring object (string) for now
# x = x.loc[:, x.dtypes == float]
# x_test = x_test.loc[:, x_test.dtypes == float]

# Now for some preprocessing
# from sklearn.preprocessing import StandardScaler
# from sklearn.preprocessing import Imputer
# from sklearn.cross_validation import train_test_split

# sc = StandardScaler()
# im = Imputer()

# x, x_valid, y, y_valid = train_test_split(x, y, test_size=0.8, random_state=1)

# x = im.fit_transform(x)
# x_test = im.fit_transform(x_test)
# x = sc.fit_transform(x)
# x_test = sc.fit_transform(x_test)

# x = np.array(x)
# x_test = np.array(x_test)
# y = np.array(y)

In [37]:
# y = np.array(y)

In [38]:
# y.shape

In [39]:
# %%time

# # Generate the new dataset using under-sampling method
# verbose = False
# # 'Random under-sampling'
# US = RandomUnderSampler()
# usx, usy = US.fit_sample(x, y)

In [40]:
# print usx.shape
# print usy.shape

In [41]:
forty_cols = np.load("forty_column_dataset.npz")

In [42]:
forty_cols.keys()

['arr_1', 'arr_0']

In [43]:
X = pd.read_csv("forty_column_dataset.csv")

In [44]:
X.head()

,Unnamed: 0,CustomerMD5Key,SCID,FirstDriverMaritalStatus,CarAnnualMileage,CarFuelId,CarUsageId,FirstDriverAge,CarInsuredValue,CarAge,...,vendor_log_sales,age_minus_policy,num_unique_pols,num_total_pols,car_flag_1,car_flag_2,car_flag_3,car_flag_4,car_flag_5,car_flag_6
0,0,0x0af8dd0b86f6bdc5ecc29ee8a587e5a5,554,1.0,4001.0,1.0,1.0,58.0,3001.0,6.0,...,2,49.0,5,34,False,False,False,False,False,False
1,1,0xc2ab85a1e67787e05612f81b4d2d4b44,259,4.0,4001.0,1.0,4.0,55.0,0.0,14.0,...,2,46.0,5,157,False,False,False,False,False,False
2,2,0xd355bb50d71da053adb6aa0a2a4ff887,225,1.0,5001.0,1.0,0.0,31.0,1001.0,10.0,...,2,24.0,5,22,False,False,False,False,False,False
3,3,0x7022e0ce1ea3c8a110ab6a9feba3cef0,551,2.0,5001.0,2.0,4.0,52.0,23001.0,1.0,...,2,45.0,5,18,False,False,False,False,False,False
4,4,0x3414ea05924ca2421f03d93a1f04af49,170,3.0,5001.0,1.0,1.0,29.0,2001.0,7.0,...,2,19.0,4,48,True,False,True,True,False,True

In [45]:
X.loc[:, "SCID":].head()

,SCID,FirstDriverMaritalStatus,CarAnnualMileage,CarFuelId,CarUsageId,FirstDriverAge,CarInsuredValue,CarAge,FirstDriverDrivingLicenseNumberY,VoluntaryExcess,...,vendor_log_sales,age_minus_policy,num_unique_pols,num_total_pols,car_flag_1,car_flag_2,car_flag_3,car_flag_4,car_flag_5,car_flag_6
0,554,1.0,4001.0,1.0,1.0,58.0,3001.0,6.0,30.0,250.0,...,2,49.0,5,34,False,False,False,False,False,False
1,259,4.0,4001.0,1.0,4.0,55.0,0.0,14.0,30.0,200.0,...,2,46.0,5,157,False,False,False,False,False,False
2,225,1.0,5001.0,1.0,0.0,31.0,1001.0,10.0,8.0,250.0,...,2,24.0,5,22,False,False,False,False,False,False
3,551,2.0,5001.0,2.0,4.0,52.0,23001.0,1.0,8.0,250.0,...,2,45.0,5,18,False,False,False,False,False,False
4,170,3.0,5001.0,1.0,1.0,29.0,2001.0,7.0,11.0,250.0,...,2,19.0,4,48,True,False,True,True,False,True

In [46]:
X_csv = X.loc[:, "SCID":]
X_csv = X_csv.drop("labels", 1)

In [47]:
X_csv.columns

Index([u'SCID', u'FirstDriverMaritalStatus', u'CarAnnualMileage', u'CarFuelId',
       u'CarUsageId', u'FirstDriverAge', u'CarInsuredValue', u'CarAge',
       u'FirstDriverDrivingLicenseNumberY', u'VoluntaryExcess',
       u'CarParkingTypeId', u'PolicyHolderNoClaimDiscountYears',
       u'FirstDriverDrivingLicenceType', u'CoverIsNoClaimDiscountSelected',
       u'CarDrivingEntitlement', u'CarTransmissionId', u'SocioDemographicId',
       u'PolicyHolderResidencyArea', u'AllDriversNbConvictions',
       u'RatedDriverNumber', u'IsPolicyholderAHomeowner', u'CarMakeId',
       u'DaysSinceCarPurchase', u'NameOfPolicyProduct', u'AffinityCodeId',
       u'voluntary_payment_per_value', u'annual_milage_per_age',
       u'vendor_success_rate', u'vendor_log_sales', u'age_minus_policy',
       u'num_unique_pols', u'num_total_pols', u'car_flag_1', u'car_flag_2',
       u'car_flag_3', u'car_flag_4', u'car_flag_5', u'car_flag_6'],
      dtype='object')

In [48]:
# Generate a random sample of column names
custom = list(X_csv.columns[len(X_csv.columns) - 13:])
default = list(X_csv.columns[:len(X_csv.columns) - 13])

random_cols = list(np.random.choice(default, 7))

random_cols = random_cols + custom

In [49]:
# X_csv = X_csv[random_cols]

In [50]:
X_csv.head()

,SCID,FirstDriverMaritalStatus,CarAnnualMileage,CarFuelId,CarUsageId,FirstDriverAge,CarInsuredValue,CarAge,FirstDriverDrivingLicenseNumberY,VoluntaryExcess,...,vendor_log_sales,age_minus_policy,num_unique_pols,num_total_pols,car_flag_1,car_flag_2,car_flag_3,car_flag_4,car_flag_5,car_flag_6
0,554,1.0,4001.0,1.0,1.0,58.0,3001.0,6.0,30.0,250.0,...,2,49.0,5,34,False,False,False,False,False,False
1,259,4.0,4001.0,1.0,4.0,55.0,0.0,14.0,30.0,200.0,...,2,46.0,5,157,False,False,False,False,False,False
2,225,1.0,5001.0,1.0,0.0,31.0,1001.0,10.0,8.0,250.0,...,2,24.0,5,22,False,False,False,False,False,False
3,551,2.0,5001.0,2.0,4.0,52.0,23001.0,1.0,8.0,250.0,...,2,45.0,5,18,False,False,False,False,False,False
4,170,3.0,5001.0,1.0,1.0,29.0,2001.0,7.0,11.0,250.0,...,2,19.0,4,48,True,False,True,True,False,True

In [51]:
X = np.array(X_csv)

In [52]:
y = forty_cols["arr_1"]

In [53]:
print X.shape
print y.shape

(2911270, 38)
(2911270,)

In [54]:
from sklearn.cross_validation import train_test_split

X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=1)

In [55]:
X_y_pair = (X_train, y_train)

In [56]:
# # Now undersample the data 10000 times

# num_undersamples = 10000

# x_samples = []
# y_samples = []

# from multiprocessing import Pool

# def random_sample(pair):
#     x = pair[0]
#     y = pair[1]
#     US = RandomUnderSampler()
#     usx, usy = US.fit_sample(x, y)
#     return (usx, usy)

# p = Pool(10)
# undersamples = p.map(random_sample, [X_y_pair for i in range(num_undersamples)])

In [57]:
# US = RandomUnderSampler()

# usx, usy = US.fit_sample(X_train, y_train)
# usx_2, usy_2 = US.fit_sample(X_train, y_train)
# usx_3, usy_3 = US.fit_sample(X_train, y_train)

In [58]:
# print usx.shape
# print usx_2.shape
# print usx_3.shape

In [59]:
# X_samples, y_samples = [], []

# import time

# def transfer_to_undersample(pair):
#     X_train, y_train = pair
#     US = RandomUnderSampler()
#     return US.fit_sample(X_train, y_train)

# # Let's do this in parallel
# from multiprocessing import Pool

# p = Pool(3)

# num_undersamples = 50

# for i in range(num_undersamples):
#     start = time.time()
#     pairs = [(X_train, y_train) for i in range(3)]
#     samples = p.map(transfer_to_undersample, pairs)
    
#     x_s = (sample[0] for sample in samples)
#     y_s = (sample[1] for sample in samples)

#     usx = np.vstack(x_s)
#     usy = np.vstack(y_s)
#     X_samples.append(usx)
#     y_samples.append(usy)
#     end = time.time()
#     print "Finished Iteration %d - %.3f" % (i, end-start)

In [60]:
X_samples, y_samples = [], []

import time

num_undersamples = 3

for i in range(num_undersamples):
    start = time.time()    
    samples = [US.fit_sample(X_train, y_train) for j in range(20)]
    
    x_s = (sample[0] for sample in samples)
    y_s = (sample[1] for sample in samples)

    usx = np.vstack(x_s)
    usy = np.hstack(y_s)
    usy = np.reshape(usy, (len(usy), 1))
    X_samples.append(usx)
    y_samples.append(usy)
    end = time.time()
    print "Finished Iteration %d - %.3f" % (i, end-start)

Finished Iteration 19 - 413.134
Finished Iteration 19 - 441.007
Finished Iteration 19 - 424.503

In [61]:
# Save the files
np.savez("X_train_v3.npz", *X_samples)
np.savez("y_train_v3.npz", *y_samples)
np.save("X_valid_v3.npy", X_valid)
np.save("y_valid_v3.npy", y_valid)

In [62]:
X_samples[0].shape

(728120, 38)

In [63]:
y_samples[0].shape

(728120, 1)